*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.movie-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.movie-information{
    display: flex;
    gap: 30px;
    border: 1px solid black;
}
.single-img{
    margin: 20px;
}
.movie-details{
    margin: 20px;
}